.navbar {
    padding: .1rem;
    background-color: rgb(116, 82, 117);
    .navbar-brand img{
      width: 105px;
      height: 80px;
    }
    .navbar-nav li {
      margin: 15px;
      .nav-link {
        font-size: 1.2em;
        color: white;
      }
      :hover {
        color: rgb(206, 206, 206);
      }
    }
  }
  